.pages-home.inner-page
  Loader(v-show='loading')   
  div(v-if='props')
    Header
    #interior
      .subnav-outer.mobile
        .container.row
          p
            router-link(to='/for-all-ages') For All Ages
            |  | 
            router-link(to='/common-orthodontic-issues') Common Orthodontic Issues
            |  | 
            router-link(to='/surgical-orthodontics') Surgical Orthodontics
            |  | 
            router-link(to='/invisalign') Invisalign®
            |  | 
            router-link(to='/invisalign-teen') Invisalign Teen®
            |  | 
            router-link(to='/forsus') Forsus™
            |  | 
            router-link(to='/i-cat') i‐CAT®
            |  | 
            router-link(to='/acceledent-aura') AcceleDent® Aura             
      .container.row.interior-content
        header
          h1(v-if='props.acf.heading' v-html='props.acf.heading')                
        .common-orthodontic(v-if='props' v-for="common in props.acf.common_orthodontic")
          h2(v-html:span='common.orthodontic_title')
          .before-after-box
            .before-after-image 
              img(v-bind:src='common.before_image' alt='before photo')
              span Before
            .before-after-image 
              img(v-bind:src='common.after_image' alt='after photo')
              span After
          p.before-after-text(v-html:span='common.orthodontic_description')
          hr         
    Footer
      
