.pages-home
  Loader(v-show='loading')  
  div(v-if='props')
    Header
    #home-slideshow-banner      
      swiper(:options='swiperOption')
        swiper-slide.slidee(v-for='homeSlider in props.acf.home_slider' v-bind:style="{ backgroundImage: 'url('+ homeSlider.slider_image +')' }")
    #bd-callouts
     .container.row
      .callout-wrap
        router-link.callout-01(to='/meet-dr-rallis')
          .watermark
            .lines
            img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/c1.png' alt='Meet The Doctor')
            .callout-txt
              span.ln1  Meet 
              span.ln2  The Doctors 
        router-link.callout-2(to='/appointment-request')
          .watermark
            .lines
            img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/c2.png' alt='Meet The Doctor')
            .callout-txt
              span.ln1  Complimentary 
              span.ln2  Consultation 
        router-link.callout-03(to='/why-choose-us')
          .watermark
            .lines
            img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/c3.png' alt='Meet The Doctor')
            .callout-txt
              span.ln1  Why 
              span.ln2  Choose Us
    .home
     #home-content
      .watermark
        header
          h1(v-if='props.acf.heading' v-html='props.acf.heading')
        .container.row
          #content-left( v-if='props' v-html='props.content.rendered')          
          #content-right
            .home-callouts
              figure.hc-01
                img(v-bind:src='props.acf.home_side_bar_image')
                a.learn-more(href='/invisalign')
                  | Find Out More 
                  img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/arrow.png' alt='Find Out More')
              figure.hc-02
                img(v-bind:src='props.acf.home_side_bar_image2')
                a.learn-more(href='/suresmile-info')
                  | Find Out More 
                  img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/arrow.png' alt='Find Out More')
              figure.hc-03
                img(v-bind:src='props.acf.home_side_bar_image3')
                a.learn-more(href='/office-tour')
                  | Find Out More 
                  img(src='https://www.rallisbraces.com/wp-content/uploads/2018/11/arrow.png' alt='Find Out More')   
    Footer
      
