.pages-home.inner-page
  Loader(v-show='loading')   
  div(v-if='props')
    Header
    #interior
      .subnav-outer.mobile
        .container.row
          p
            router-link(to='/suresmile-info') SureSmile® Info
            |  | 
            router-link(to='/suresmile-faqs') SureSmile® FAQs
            |  | 
            router-link(to='/how-suresmile-works') How SureSmile® Works
            |  | 
            router-link(to='/suresmile-comparison') SureSmile® Comparison
            |  | 
            router-link(to='/suresmile-before-and-after') SureSmile® Before and After
            |  | 
            router-link(to='/the-suresmile-process') The SureSmile® Process
            |  | 
            router-link(to='/suresmile-testimonials') SureSmile® Testimonials                         
      .container.row.interior-content
        header
          h1(v-if='props.acf.heading' v-html='props.acf.heading')        
        #main-content2( v-if='props' v-html='props.content.rendered')
        #suresmile-footer
          h3 SureSmile Social Links
          ul.cf
            li
              a.external(href='http://www.facebook.com/SureSmile' title='Link to SureSmile Facebook page' target='_blank')
                img(src='https://www.rallisbraces.com//wp-content/uploads/2018/11/logo-facebook.png' alt='facebook logo')
              a.external(href='http://www.facebook.com/SureSmile' title='Link to SureSmile Facebook page' target='_blank') Facebook
            li
              a.external(href='http://twitter.com/suresmile' title='Link to SureSmile Twitter page' target='_blank')
                img(src='https://www.rallisbraces.com//wp-content/uploads/2018/11/logo-twitter.png' alt='twitter logo')
              a.external(href='http://twitter.com/suresmile' title='Link to SureSmile Twitter page' target='_blank') Twitter
            li
              a.external(href='http://www.youtube.com/suresmile' title='Link to SureSmile YouTube page' target='_blank')
                img(src='https://www.rallisbraces.com//wp-content/uploads/2018/11/logo-youtube.png' alt='youtube logo')
              a.external(href='http://www.youtube.com/suresmile' title='Link to SureSmile YouTube page' target='_blank') YouTube
          a.external(href='http://www.suresmile.com?iframe=true&width=1000&height=700' rel='prettyPhoto' title='Link to SureSmile web site.' target='_blank')
            img.invisalign-footer-logo(src='https://www.rallisbraces.com//wp-content/uploads/2018/11/suresmile-large.png' alt='SureSmile logo')
          p.cf
            a.external(href='http://www.suresmile.com?iframe=true&width=1000&height=700' rel='prettyPhoto' title='Link to SureSmile web site' target='_blank')
              | Click here to find out more...         
    Footer
      
