.pages-home.inner-page
  Loader(v-show='loading')
  div(v-if='props')
    Header
    #interior
      .subnav-outer.mobile
        .container.row
          p
            router-link(to='/meet-dr-rallis') Meet Dr. Rallis
            |  | 
            router-link(to='/meet-dr-bonilla') Meet Dr. Bonilla
            |  | 
            router-link(to='/meet-the-staff') Meet the Staff
            |  | 
            router-link(to='/why-choose-us') Why Choose Us?
      .container.row.interior-content
        header
          h1(v-if='props.acf.heading' v-html='props.acf.heading')
        #main-content2(v-if='props' v-html='props.content.rendered')
        .team(v-if='props' v-for="team in props.acf.team_members")
          img.team-photo(v-bind:src='team.team_photo.url' alt='team member')
          h2(v-html:span='team.name')
          h3(v-html:span='team.designation')
          p(v-html:span='team.description')     
    Footer
      
